{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>About Us</h2>
    <p>Here, it's not just about pages and shelves; it's a realm where worlds spring to life, and ideas intertwine. Each reader embarks on an adventure, and every book opens a gateway to a new realm. Welcome to the world of reading, where excitement, sorrow, laughter, and hope await on every page.</p>
    <h2>Contact us</h2>
    <p>Phone: +989216500963</p>
    <p>Email: Engineer.m.rezai@gmail.com</p>
    </div>
  </main>
{% endblock %}