{% extends 'layout.html' %}


{% block content %}
<style>
  table, th , td  {
    border:3px solid #593825;
    margin: 50px;
    text-align: center;
  }
  </style>

<table style="width:90%">

    <tr>
      <th>ISBN</th>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Page</th>
    </tr>
    {%for book in books %}
    <tr>
      <td>{{book[0]}}</td>
      <td>{{book[1]}}</td>
      <td>{{book[2]}}</td>
      <td>{{book[3]}}</td>
      <td>{{book[4]}}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="/newbook" class="btn-primary" style="margin: 50px;">Add new Book</a>
  <a href="/deletebook" class="btn-primary" style="margin: -50px;">Delete Book</a>
{% endblock %}