{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2>Welcome to the realm of books!</h2>
        <a href="/bookslist" class="btn-primary">Books List</a>
        <a href="/newbook" class="btn-primary">Add Book</a>
        <a href="/about" class="btn-primary">About Us</a>
      </div>

<!--      <div class="section-device">-->
<!--        <img src="static/img/s600.jpg">-->
<!--      </div>-->
      
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}